<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<title>Introducción</title>
    <link rel="stylesheet" href="../css/twoStyle.css">
</head>
<body>
    <div class="container__background_triangle">
        <div class="triagle triagle1"></div>
        <div class="triagle triagle2"></div>
        <div class="triagle triagle3"></div>
        <div class="triagle triagle4"></div>
    </div>
    <div class="advantages">
        <h2>Ventajas de usar repositorios</h2>
        <ul>
             <li>Permite el trabajo en paralelo de dos o más usuarios de una
            aplicación o programa sin que se den por válidas versiones con
            elementos que entren en conflicto entre sí.</li>
            <br>
            <li>La seguridad de un repositorio de código en un servidor es máxima
             ya que este garantiza la misma mediante diferentes métodos avanzados
             de ciberseguridad y la creación constante de copias de seguridad.</li>
             <br>
            <li>Permite disponer y acceder a un historial de cambios. Cada programador
             tiene la obligación de señalar qué cambios ha realizado</li>
             <br>
            <li>Facilita el entendimiento del proyecto, sus avances y el estado actual
             de la última versión. Algo posible gracias a que cada pequeño cambio
             realizado por un programador debe ir acompañado por un mensaje explicativo
             de la tarea realizada. </li>
            </ul>
            <div class="back">
                <a href="Rep01.html">Atrás</a>
            </div>
            <div class="next">
                <a href="Rep03.html">Siguiente</a>
            </div>
    </div>
</body>
</html>