<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<title>Introducción</title>
    <link rel="stylesheet" href="../css/treeStyle.css">
</head>
<body>
    <div class="container__background_triangle">
        <div class="triagle triagle1"></div>
    </div>
    <div class="container">
        <h1>¿Qué repositorios existen?</h1>
        <P>Los dos repositorios de código más utilizados son Git y SVN
            Conocer sus principales características permite obtener 
            una visión clara de los motivos por los que los desarrolladores
            y programadores les prefieren frente a otras alternativas.
            Y también permite comprobar las principales diferencias entre
            ambos, a fin de decidir cuál es el más adecuado para tu proyecto.</P>

            <div class="back">
                <a href="Rep02.html">Atrás</a>
            </div>
            <div class="next">
                <a href="Rep04.html">Siguiente</a>
            </div>
    </div>
    <div class="svn">
        <img src="../imgs/SVN.png" alt="">
    </div>
    <div class="git">
        <img src="../imgs/git.png" alt="">
    </div>
</body>
</html>