<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<title>repositorios remotos</title>
    <link rel="stylesheet" href="../css/fourStyle.css">
</head>
<body>
    <style>
        body{
            background: rgb(138, 137, 137);
        }
        .container__cards{
            margin-top: 250px;
            padding-bottom: 10px;
        }
        .card{
            box-shadow: 20px 20px 50px rgba(152, 152, 152, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            background: rgba(0, 0, 0, 0.335);
        }
    </style>
    <div class="container__background_triangle">
        <div class="triagle triagle1"></div>
        <div class="triagle triagle2"></div>
        <div class="triagle triagle3"></div>
    </div>
    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitInit.png" alt="">
            </div>
            <h2>Git: init</h2>
            <p>GIT provee el comando init para inicializar un
                repositorio, es decir, para pasar de una carpeta
                con el código fuente, a un repositorio sobre el
                cual GIT puede trabajar.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitCommit.png" alt="">
            </div>
            <h2>Git: Commit</h2>
            <p>GIT provee el comando commit para crear un
                punto en la historia del repositorio. 
            <br>
                Commit se usa cuando se tiene un grupo de
                cambios y se desea guardar ese estado del
                proyecto.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitStaginArea.png">
            </div>
            <h2>Git: Staging Area</h2>
            <p>Para ver el estado del «Staging Area», GIT provee
                el comando status, este muestra cuales cambios
                están agregados y cuales no. <br>
                Para agregar un cambio se usa el comando add y
                para retirar un cambio se utiliza el comando rm.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">5.0 pls</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitLogpng.png">
            </div>
            <h2>Git: Log</h2>
            <p>GIT provee el comando log para visualizar la
                historia del repositorio, esta historia esta dada
                por los commits que se han realizado.<br>
                Cada commit se identifica con un SHA, el cual no
                es más que una combinación de números y
                letras.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/GitBranch.png" alt="">
            </div>
            <h2>Git: Branches</h2>
            <p>Para administrar las ramas GIT provee el
                comando branch, este permite crear, eliminar y
                cambiar de rama. <br>
                Para unir dos ramas se usa el comando merge.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitRemote.png">
            </div>
            <h2>Git: Remote</h2>
            <p>GIT ofrece el comando clone para clonar un
                repositorio de manera local.<br>
                Para enviar los cambios al remoto se utiliza la
                instrucción push y para obtener nuevos cambios se
                usa la instrucción pull.<br>
                Para visualizar y controlar el repositorio remoto,
                GIT ofrece el comando remote
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="back">
            <a href="Rep04.html">Atrás</a>
        </div>
    </div>
</body>
</html>