<!DOCTYPE html>
<html>
<head>
	<title>Repositorios de Código</title>
	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<link rel="stylesheet" href="../css/oneStyle.css">
</head>
<body>
	<div class="container">
			<h1>¿Qué son los repositorios de código?</h1>
			<p>
				Es el lugar en el que se almacena y se puede realizar
				la distribución del código de una aplicación o un programa.
				Este debe ser un servidor seguro que utiliza sistemas de
				control de versiones. 
			</p>
			<div class="back">
				<a href="../index.html">Atrás</a>
			</div>
			<div class="next">
				<a href="Rep02.html">Siguiente</a>
			</div>
	</div>
	<div class="bitBucket">
		<img src="../imgs/BitBucket.jpg">
	</div>
	<div class="gitlab">
		<img src="../imgs/gitlab.jpg">
	</div>
	<div class="gitHub">
		<img src="../imgs/github.jpg">
	</div>
</body>
</html>