<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<title>repositorios remotos</title>
    <link rel="stylesheet" href="../css/fourStyle.css">
</head>
<body>
    <div class="container__background_triangle">
        <div class="triagle triagle1"></div>
        <div class="triagle triagle2"></div>
        <div class="triagle triagle3"></div>
    </div>
    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/GitHubCard.jpg" alt="">
            </div>
            <h2>GitHub</h2>
            <p>El software que opera GitHub fue escrito en Ruby
                on Rails. Desde enero de 2010, GitHub opera bajo
                el nombre de GitHub, Inc.
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/BitbucketCard.jpg" alt="">
            </div>
            <h2>Bitbucket</h2>
            <p>Bitbucket es un servicio de alojamiento basado en web,
                 para los proyectos que utilizan el sistema de control
                  de versiones Mercurial y Git. Bitbucket ofrece planes
                   comerciales y gratuitos
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">Sistemas distribuidos</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="card">
            <div class="cover__card">
                <img src="../imgs/gitLabCard.png">
            </div>
            <h2>GitLab</h2>
            <p>Gitlab Inc. es una compañía de núcleo abierto y es la principal
                 proveedora del software GitLab, un servicio web de forja, control
                  de versiones y DevOps
            </p>
                <hr>
            <div class="footer__card">
                <h3 class="user__name">5.0 pls</h3>
                <i>11 de mayo</i>
            </div>
        </div>
        <div class="back">
            <a href="Rep03.html">Atrás</a>
        </div>
        <div class="next">
            <a href="Rep05.html">Siguiente</a>
        </div>
    </div>
</body>
</html>